body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.section {
  padding: 80px 0;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.tag {
  display: inline-block;
  padding: 6px 16px;
  border: 1px solid #34d399;
  border-radius: 999px;
  color: #34d399;
  background: rgba(52, 211, 153, 0.1);
  animation: fadeIn 0.8s forwards;
}
.nav-link {
  position: relative;
  font-size: 1rem;
  color: #cbd5e1;
  padding: 4px 0;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #34d399; /* Verde Emerald */
}

/* Linha animada */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #34d399, #22d3ee);
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover::after {
  width: 100%;
}
.mobile-nav-link {
  display: block;
  padding: 12px;
  color: #cbd5e1;
  border-radius: 8px;
  transition: 0.3s;
}

.mobile-nav-link:hover {
  background: rgba(52, 211, 153, 0.15);
  color: #34d399;
}


.hero-title {
  font-size: 3rem;
  font-weight: 800;
  margin-top: 1rem;
}

.hero-subtitle {
  max-width: 600px;
  margin: 1rem auto;
  font-size: 1.25rem;
  color: #94a3b8;
}

.gradient-text {
  background: linear-gradient(to right, #34d399, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary {
  padding: 14px 30px;
  background: #34d399;
  border-radius: 10px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.btn-secondary {
  padding: 14px 30px;
  background: #1e293b;
  border-radius: 10px;
  color: white;
  border: 1px solid #334155;
}

.social {
  color: #94a3b8;
  transition: 0.3s;
}

.social:hover {
  color: white;
}

form.form input,
form.form textarea {
  width: 100%;
  padding: 14px;
  background: #0f172a;
  border: 1px solid #334155;
  border-radius: 8px;
  color: white;
}

.success {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #065f46;
  color: white;
  border-radius: 6px;
}

.hidden {
  display: none;
}
